html, body {
  margin: 0;
  padding: 0;
  font-size: 19px;
  color: #42464d;
}

@font-face {
  font-family: 'mulish-light';
  src: url(".../police/Mulish-ExtraLight.ttf") format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: 'mulish';
  src: url(".../police/Mulish-Light.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'openSans-light';
  src: url(".../police/OpenSans-Light.ttf") format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: 'openSans-regular';
  src: url(".../police/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'poiretOne';
  src: url(".../police/PoiretOne-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'raleway';
  src: url(".../police/Raleway.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'ronet';
  src: url(".../police/Ronet.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'satellite';
  src: url(".../police/Satellite.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'sundine';
  src: url(".../police/sundine.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'lato';
  src: url(".../police/Lato-Light.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'lato';
  src: url(".../police/Lato-Thin.ttf") format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: 'lato';
  src: url(".../police/Lato-Regular.ttf") format("truetype");
  font-weight: bold;
}

body {
  font-family: "satellite", Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.navigation img {
  margin-top: 3rem;
  margin-left: 3rem;
}

.navigationCheckbox {
  display: none;
}

.navigationBg {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 3.3rem;
  right: 5.5rem;
  background-image: radial-gradient(#c46e39, #6c503b);
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigationBtn {
  background-color: #fff;
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 3rem;
  right: 5rem;
  border-radius: 50%;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.navigationIcon {
  position: relative;
  margin-top: 2.5rem;
  width: 2rem;
  height: 2px;
  background-color: #42464d;
  display: inline-block;
}

.navigationIcon::before,
.navigationIcon::after {
  width: 2rem;
  height: 2px;
  background-color: #42464d;
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s;
  -webkit-transition: all .2s;
}

.navigationIcon::before {
  top: -.6rem;
}

.navigationIcon::after {
  top: .6rem;
}

.nav {
  height: 100vh;
  position: fixed;
  width: 100%;
  opacity: 0;
  z-index: 1500;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigationListe {
  position: absolute;
  list-style-type: none;
  text-align: center;
  width: 100%;
}

.liens {
  display: inline-block;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
}

.liens:hover {
  color: #6c503b;
}

.navigationCheckbox:checked ~ .navigationBg {
  transform: scale(80);
  -webkit-transform: scale(80);
}

.navigationCheckbox:checked ~ .nav {
  opacity: 1;
  width: 100%;
}

.navigationCheckbox:checked + .navigationBtn .navigationIcon {
  background-color: transparent;
}

.navigationCheckbox:checked + .navigationBtn .navigationIcon::before {
  top: 0;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.navigationCheckbox:checked + .navigationBtn .navigationIcon::after {
  top: 0;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

@media screen and (max-width: 920px) {
  html, body {
    font-size: 16px;
  }
  .navigation {
    width: auto;
    margin: 0;
  }
  .navigation img {
    margin-top: 8%;
    margin-left: 7%;
  }
  .navigationBg {
    top: 2.5rem;
    right: 3.5rem;
  }
  .navigationBtn {
    top: 2rem;
    right: 3rem;
  }
  .navigationListe {
    width: auto;
    margin-top: 10%;
  }
  .liens {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */